.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.foodTruckIcon {
  font-size: 3rem;
  vertical-align: sub;
}

.name {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.logo {
  display: block;
  padding: 1rem;
}

.addRecipeLink {
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-text-color);
}

.addRecipeLink:hover,
.addRecipeLink:focus {
  color: var(--accent-color);
}
