.inputForm {
  background: #eee;
  border-bottom: 2px solid #2fdb00;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.checkBox {
  padding: 1rem;
}

.inputIngredient {
  // background-color: #f9f5e7;
  background: transparent;
  border: none;
  padding: 1rem;
  flex-grow: 1;
  //&::placeholder {
  //  color: #2fdb00;
  //}
}

.checkMark {
  border: 0;
  padding: 1rem;
  color: #2fdb00;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #a82e2e;
  }

  &:active {
    color: #139b9f;
  }
}
