.entireItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 0.5rem;
}

.checkBox {
  padding: 1rem;
}
.itemName {
  flex-grow: 1;
  padding: 1rem;
}
.trashCan {
  padding: 1rem;
  color: #2fdb00;
}
