* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: 0;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Agbalumo", sans-serif;
  font-size: 1rem;
  color: #a7727d;
  background-color: #f9f5e7;
}

.container {
  width: 700px;
  margin: 0 auto;
  background-color: #f9f5e7;
}
