* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: 0;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: black;
  background-color: white;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}
