.header {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #2fdb00;
  text-align: center;
  background: white;

  //border-bottom: 2px solid darken(white, 7%);
  border-bottom: 2px solid lighten(#862d75, 50%);
}

.headerSubtitle {
  color: black;
  text-align: center;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.horizontalLine {
  color: black;
}
