.footerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-radius: 1rem;
}
.copyright {
  padding: 1rem;
}
.copyrightIcon {
  margin-right: 0.5rem;
  vertical-align: middle;
}
.year {
  padding: 1rem;
}
